
body {
  margin: 0px;
}

.footer {
  height: 150px;
  background-color: lightgrey;
  display:flex;
  column-gap:100px;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.info {
  font-size: 12px;
}

.item {
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
}

#one{
 display:flex;
 flex-direction:column;
 gap:13px;
}

#three{
display:flex;
flex-direction:column;
gap:70px;
}
